.mainpanel {
    display: flex;
    width: 100%;
    height: auto;
}

.panelleft {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 60px;
    width: 15%;
    gap: 20px;
    height: auto;
    background-color: rgba(69, 159, 211, 0.501);
    align-items: center;

}


.Linkbtnbox {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
    width: 100%;
    align-items: flex-end;
    padding-top: 10px;
    padding-bottom: 20px;


}


.Linkbtnin {
    display: inline-block;
    width: 80%;
    display: flex;
    /* justify-content: left; */
    background-color: transparent;
    /* background-color: red; */
    padding-left: 30px;
    /* align-items: center; */
    /* text-align: center; */

    gap: 20px;
    border-radius: 15px 0 0 15px;
    border-top-right-radius: -30px;
    border-right: 0;
    height: 45px;
    font-size: 18px;
    color: white;
    border: 0;
    /* background-color: red; */


}


.sidebarlinkin::after {
    content: '';
    position: absolute;
    right: -10px;
    top: 0;
    height: 90%;
    width: 20px;
    background-color: #3b82f6;
    border-top-left-radius: 999px;
    border-bottom-left-radius: 999px;
    z-index: -1;
}


.Linkbtnin.active {
    background-color: #2e2e2e;
    color: white;
}



.imgbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 110px;
    /* margin-top: 10px; */
}

.imgboximg {
    position: relative;
    width: 90px;
    height: 90px;
}

.Image {
    width: 95%;
    height: 95%;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}

.Imageupdate {
    position: absolute;
    width: 15px;
    height: 15px;
    bottom: 0;
    right: 0;
    cursor: pointer;
}




.panelright {
    width: 85%;
    height: 90vh;
    overflow-y: scroll;

}

.dropdown-container {
    display: flex;
    align-items: flex-start;
    position: relative;
    cursor: pointer;
}

.dropdown-label {
    /* background-color: #2563eb; */
    color: white;
    padding: 10px 0;
    border-radius: 5px;
    white-space: nowrap;
}

.dropdown-right {
    background-color: #1f2937;
    color: white;
    padding: 10px;
    margin-left: 14px;
    border-radius: 5px;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.dropdown-item {
    padding: 8px 10px;
    border-bottom: 1px solid #374151;
}


.dropdown-item:hover {
    background-color: rgb(34, 109, 116);
    border-radius: 4px;
}


.dropdown-item:last-child {
    border-bottom: none;
}


/*  */