.Login-Page {
    width: 100%;
    height: 90vh;
    overflow: hidden;
}

.Login-Page img {
    width: 100%;
    height: 90vh;
}

.Login-Page-Form {
    display: flex;
    justify-content: center;
    width: 500px;
    height: 550px;
    position: absolute;
    top: 70px;
    left: 120px;
    border: 2px solid #13bef2;
    border-radius: 12px;

    h2 {
        margin-top: 50px;
        font-size: 45px;
        color: white;
    }
}



.Login-Page-Form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 150px;
    gap: 20px;

}



.Login-Page-Input {
    display: flex;
    flex-direction: column;
    gap: 10px;

    h1 {
        color: white;
    }

    input {
        width: 350px;
        height: 40px;
        border-radius: 8px;
        font-size: 18px;
        padding-left: 10px;
    }
}



.Login-Page-Button {
    display: flex;
    flex-direction: column;
    gap: 25px;

    a {
        color: white;
    }

    button {
        margin-top: 20px;
        width: 350px;
        height: 40px;
        border-radius: 8px;
        font-size: 18px;

    }
}

.Login-Page-Button button:hover {
    background-color: #1347f2;
    color: white;
}

/* ######################################################### */

/* 
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    position: relative;
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    width: 300px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.modal-content h2 {
    text-align: center;
    margin-bottom: 20px;
}

.modal-content input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.modal-content button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 10px;

}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

.close:hover {
    color: red;
} */